h2{
    font-family:'Haettenschweiler';
    color: #0000af;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.img-fluid{
    width: 100%;
    height: auto;
}

h3{
    font-family:'Haettenschweiler';
    color: #0000af;
}